<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>C 語言線上編譯器</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="chatbot_style.css">

</head>
<body>
  <div class="header">
    <h1>C 語言線上編譯器</h1>
  </div>
  <div class="button-row">
    <button class="execute-button" onclick="previous()">上一步</button>
    <button class="submit-button" onclick="next()">下一步</button>
  </div>

  <div class="main-container">
    <div id="question-box">
      <h2 class="section-title">記憶體配置模擬圖</h2>
    
      <div class="section-block">
        <h4>輸入說明</h4>
        <p id="input_info" class="text-block"></p>
      </div>
    
      <div class="section-block">
        <h4>輸出說明</h4>
        <p id="output_info" class="text-block"></p>
      </div>
    
      
    </div>

    
    
    <div class="right-side">
      <div id="editor-container">
        <div id="editor"><textarea id="codeInput" ><%= code %></textarea></div>
        
      </div>

      <div id="output-container">
        <h3>輸出結果：</h3>
        <div id="output"><pre id="judge_output"></pre></div>
      </div>
    </div>
  </div>

  <!-- Chat button -->
  <div class="chat-button" onclick="toggleChatBox()">💬</div>

  <!-- Chat box -->
  <div class="chat-box" id="chat-box">
    <div class="chat-header">
      AI 聊天室 <span class="close-chat" onclick="closeChatBox()">✖</span>
    </div>
    <div class="chat-messages" id="chatMessages">
      <div class="bot-message">你好，有什麼可以幫助的嗎？</div>
    </div>
    <div class="chat-input">
      <input type="text" id="userInput" placeholder="請輸入問題...">
      <button onclick="sendMessage()">送出</button>
    </div>
  </div>


<script src="/trace.js"></script>
</body>
</html>
