<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Judge</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2> Code and Judge</h2>
    <a href="/problem_list"><button>&lt;-back to problem_list</button></a>
    <button onclick="testExampleCode()">測試範例</button>
    <a href="/judge_list"><button>Judge list</button></a>
    <button>run x</button>
    <div class="problem_code">
        <div class="left-problem">
            <h4>題目描述</h4>
            <script>
                // 取得 URL 中的參數
                const urlParams = new URLSearchParams(window.location.search);
                const q_id = urlParams.get('q_id');
            
                async function fetchProblem() {
                    const res = await fetch(`/api/problem/${q_id}`);
                    const data = await res.json();

                    document.getElementById('info').textContent = data.problem.info;
                    document.getElementById('input_info').textContent = data.problem.Input_info;
                    document.getElementById('output_info').textContent = data.problem.Output_info;
                    console.log('q_id:', q_id); // 如果是 null 就代表網址沒帶參數
                    

                    //範例輸入輸出
                    const tbody = document.getElementById('show_info_list');
                    data.example.forEach(i => {
                    const tr = document.createElement('tr');
        
                    // 範例輸入
                    const In_example = document.createElement('td');
                    In_example.textContent = i.Input;
        
                    // 範例輸出
                    const Out_example = document.createElement('td');
                    Out_example.textContent = i.Output;
        
                    // 組合這列
                    tr.appendChild(In_example);
                    tr.appendChild(Out_example);
        
                    // 加進 tbody
                    tbody.appendChild(tr);
                    });
                }
                fetchProblem();
            </script>
            <table>
                <tr>
                    <th>內容</th>
                </tr>
                <tr>
                    <td id="info">
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <th>輸入</th>
                    <th>輸出</th>
                </tr>
                <tr>
                    <td id="input_info">
                    </td>
                    <td id="output_info">
                    </td>
                </tr>
            </table>
            <br>
            <table  border="1">
                <thead>
                    <th>範例輸入</th>
                    <th>範例輸出</th>
                </thead>
                <tbody id="show_info_list">
                </tbody>
            </table>
        </div>
        <div class="right-code">
            <button onclick="submitCode()">Submit</button>
            <textarea id="codeInput" placeholder="在這裡輸入程式碼..."></textarea>
            <pre id="output"></pre>
        </div>
    </div>
    <script>
        async function testExampleCode() {
            const code = document.getElementById("codeInput").value;
            const response = await fetch("/test_example", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ code,q_id })
            });

            const result = await response.json();
            const outputElement = document.getElementById("output");
            outputElement.innerText = "";
            outputElement.className = "";//清除背景顏色


            if (result.error) {
                outputElement.innerText = result.error;
                return;
            }
            let allPassed = true;
            result.results.forEach(({ input, expected, output, error }) => {
                outputElement.innerText += `輸入: ${input}\n`;
                outputElement.innerText += `正確輸出： ${expected}\n`;
                outputElement.innerText += `實際輸出： ${output || "執行錯誤"}\n`;

                if (error || output!== expected){
                    allPassed = false;
                }

                if (error) outputElement.innerText += `ERROR: ${error}\n`;
                outputElement.innerText += "-------------------------\n";

            });

            if (allPassed) {
                outputElement.innerText += "\n範例測試 通過 ✅";
                outputElement.classList.add("pass");
            } else {
                outputElement.innerText += "\n範例測試 沒通過 ❌";
                outputElement.classList.add("fail");
            }
        }
    </script>
    <script>
        async function submitCode() {
            const code = document.getElementById("codeInput").value;
            const response = await fetch("/submit", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ code,q_id })
            });

            const result = await response.json();
            const outputElement = document.getElementById("output");
            outputElement.innerText = "";
            outputElement.className = "";//清除背景顏色


            if (result.error) {
                outputElement.innerText = result.error;
                return;
            }
            let allPassed = true;
            result.results.forEach(({ input, expected, output, error }) => {
                outputElement.innerText += `輸入: ${input}\n`;
                outputElement.innerText += `正確輸出： ${expected}\n`;
                outputElement.innerText += `實際輸出： ${output || "執行錯誤"}\n`;

                if (error || output!== expected){
                    allPassed = false;
                }

                if (error) outputElement.innerText += `ERROR: ${error}\n`;
                outputElement.innerText += "-------------------------\n";

            });

            if (allPassed) {
                outputElement.innerText += "\nJudge 通過 ✅";
                outputElement.classList.add("pass");
            } else {
                outputElement.innerText += "\nJudge 沒通過 ❌";
                outputElement.classList.add("fail");
            }
        }
    </script>
</body>
</html>