<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Judge</title>
</head>
<body>
    <h2> 解題 List (開發中)</h2>
    <a href="/code_judge"><button>&lt;-back to code and judge</button></a>
    <button>討論區 x</button>
    <table>
        <tr>
            <td>挑戰者</td>
            <td>評分結果</td>
            <td>程式語言</td>
            <td>時間</td>
        </tr>
        <tr>
            <td>角落炸蝦</td>
            <td>V</td>
            <td>C</td>
            <td>2025-3-16</td>
        </tr>
    </table>
</body>
</html>