<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>C 語言 AI 線上互動學習平台</title>
  <link rel="stylesheet" href="login.css" />
</head>
<body>
  <div class="login-wrapper">
    <div class="login-box">
      <div class="illustration">
        <img src="illustration.png" alt="放圖片" />
      </div>
      <div class="login-form">
        <h2>C 語言線上 AI 互動學習平台</h2>
        <form id="loginForm">
          <div class="input-group">
            <input type="text" id="username" placeholder="輸入帳號:" required />
          </div>
          <div class="input-group">
            <input type="password" id="password" placeholder="輸入密碼:" required />
          </div>
          <button type="submit" id="loginbtn">登 入</button>
        </form>
      </div>
    </div>
  </div>

  
  <script src="/login.js"></script>
  
  
</body>
</html>
