<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Judge</title>
</head>
<body>
    <h2> 題目 List</h2>
    <table>
        <tr>
            <td><a href="/code_judge"><button>題目一 hello world</button></a></td>
        </tr>
        <tr>
            <td><button>題目二 x</button></td>
        </tr>
        <tr>
            <td><button>題目三 x</button></td>
        </tr>
    </table>
</body>
</html>
